.idea
.vs
.vscode/settings.json
.vscode
build
.xmake
cmake-build*
vcpkg_installed
Skyrim/Data/AchievementsData/Localizations/Test_*.txt
Skyrim/Data/AchievementsData/Test.json
src/Conditions/refactor.py
